
.container {
    max-width: 120rem;
    margin: 8rem auto; //centering the container inside its parent element
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex; 
    //.header is the parent of the logo, the search bar and the use elements.
    justify-content: space-between; //align elemnts along the main axis (horizontal axis on this case)
    align-items: center; //align elemnts along the cross axis (vertical axis on this case)
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //flex: grow shrink basis, 2nd and 3rd optional

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    //height: 80rem;                 //testing
    //background-color: orangered; //testing

    flex: 1; //same as flex-grow: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    //font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    //background-color: aquamarine;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}