.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: auto auto; >> deafult setting so it isn't needed, two implicit rows are created automatically in order to accomodate all the elements
  grid-gap: 6rem;
}